<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ucsc.teamtutor.tutr" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".UI.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.HomeActivityTutr"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".UI.LogIn"
            android:label="@string/title_activity_log_in" >
        </activity>
        <activity
            android:name=".UI.TutorProfilePage"
            android:label="@string/title_activity_tutor_profile_page" >
        </activity>
        <activity
            android:name=".UI.SignUp"
            android:label="@string/title_activity_sign_up" >
        </activity>
    </application>

</manifest>
